<section class="about">
  <span id="about" class="about__id"></span>
  <div class="container">
    <h2 class="about__h2">QUIÉNES SOMOS</h2>
    <article class="about__article">
      <div class="about__img--left">
        <img class="about__img about-static" src="./assets/images/yo-pk.jpg" /><img
          class="about__img"
          src="./assets/images/yo-gif-pk.gif"
        />
      </div>
      <div class="about__text--left">
        <h3 class="about__name">Carolina Castaño</h3>
        <p class="about__bio">
          Ha estudiado magisterio, administración y finanzas y enseñanza del
          español, ha vivido en muchos sitios y trabajado en diferentes sectores
          pero sigue en busca de una vocación. Viajera de mente abierta, se
          mueve por inspiración y le cuesta poco el cambio.
        </p>
        <ul class="about__socialmedia">
          <li>
            <a
              class="about__socialmedia--item"
              href="https://twitter.com/cvcastano"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.linkedin.com/in/carolina-castano/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://github.com/cvcastano"
              target="_blank"
            >
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="mailto:carocastanocastillo@gmail.com"
              target="_blank"
            >
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="about__article">
      <div class="about__img--right">
        <img
          class="about__img about-static"
          src="./assets/images/elisa-pk.jpg"
        /><img
          class="about__img"
          src="./assets/images/elisa-gif-pk.gif"
        />
      </div>
      <div class="about__text--right">
        <h3 class="about__name">Elisa Alcocer</h3>
        <p class="about__bio">
          Curiosa, creativa, y siempre en busca de nuevos retos. Ahora ha
          decidido darle un giro a su vida, y meterse de lleno en la
          programación. Le encanta rodearse de gente positiva, viajar, y
          descubrir nuevos sabores en la cocina. Es tenaz y perspicaz, siempre
          busca el máximo nivel en todo lo que se propone.
        </p>
        <ul class="about__socialmedia">
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.twitter.com"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.linkedin.com/in/elisalcocer/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://github.com/alcocere"
              target="_blank"
            >
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="mailto:elisa.alcocerm@gmail.com"
              target="_blank"
            >
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="about__article">
      <div class="about__img--left">
        <img class="about__img about-static" src="./assets/images/lili.jpg" /><img
          class="about__img"
          src="./assets/images/lili-gif-pk.gif"
        />
      </div>
      <div class="about__text--left">
        <h3 class="about__name">Liliana Mendoza A.</h3>
        <p class="about__bio">
          Ingeniera Industrial, experta en RRHH en Colombia y España, con gran
          capacidad de adaptación, aprendizaje y organización; incursiona en el
          mundo del front - end, para dar un toque divergente y entablar
          sinergias, a nivel personal, compatibilizar su vida familiar.
        </p>
        <ul class="about__socialmedia">
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.twitter.com"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.linkedin.com/in/liliana-mendoza-alvear"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://github.com/lilymenal"
              target="_blank"
            >
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="mailto:liliana.mendoza.alvear@gmail.com"
              target="_blank"
            >
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="about__article">
      <div class="about__img--right">
        <img
          class="about__img about-static"
          src="./assets/images/valle-pk.jpg"
        /><img
          class="about__img"
          src="./assets/images/valle-gif-pk.gif"
        />
      </div>
      <div class="about__text--right">
        <h3 class="about__name">Valle Tendero</h3>
        <p class="about__bio">
          A Valle le gustan los retos. Un día, sintió la necesidad de salir de
          la zona de confort y combinar su experiencia en la gestión de
          proyectos con un mundo sin límites, la web. Lo que más le gusta del
          desarrollo web es la capacidad de poder crear y la evolución continua.
          Formal y risueña como dualidad, con gran instinto resolutivo.
        </p>
        <ul class="about__socialmedia">
          <li>
            <a
              class="about__socialmedia--item"
              href="https://twitter.com/varaiik"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://www.linkedin.com/in/valle-tendero/"
              target="_blank"
            >
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="https://github.com/vtendero"
              target="_blank"
            >
              <i class="fab fa-github-alt"></i>
            </a>
          </li>
          ·
          <li>
            <a
              class="about__socialmedia--item"
              href="mailto:tendero.valle@gmail.com"
              target="_blank"
            >
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>
  </div>
</section>
