<!--ABOUT US-->
<section class="about">
    <span id="about" class="teamid"></span>
    <div class="container">
      <h2 class="h2-about">QUIÉNES SOMOS</h2>
      <article class="about-article">
        <div class="img_left">
          <img class="img static" src="./assets/images/yo-pk.jpg" /><img
            class="img active"
            src="./assets/images/yo-gif-pk.gif"
          />
        </div>
        <div class="text-about_left">
          <h3 class="names-about">Carolina Castaño</h3>
          <p class="bio">
            Ha estudiado magisterio, administración y finanzas y enseñanza del
            español, ha vivido en muchos sitios y trabajado en diferentes
            sectores pero sigue en busca de una vocación. Viajera de mente
            abierta, se mueve por inspiración y le cuesta poco el cambio.
          </p>
          <ul class="social-media">
            <li>
              <a
                class="social-media-item"
                href="https://twitter.com/cvcastano"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://www.linkedin.com/in/carolina-castano/"
                target="_blank"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://github.com/cvcastano"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="mailto:carocastanocastillo@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="about-article">
        <div class="img_right">
          <img class="img static" src="./assets/images/elisa-pk.jpg" /><img
            class="img active"
            src="./assets/images/elisa-gif-pk.gif"
          />
        </div>
        <div class="text-about_right">
          <h3 class="names-about">Elisa Alcocer</h3>
          <p class="bio">
            Curiosa, creativa, y siempre en busca de nuevos retos. Ahora ha
            decidido darle un giro a su vida, y meterse de lleno en la
            programación. Le encanta rodearse de gente positiva, viajar, y
            descubrir nuevos sabores en la cocina. Es tenaz y perspicaz,
            siempre busca el máximo nivel en todo lo que se propone.
          </p>
          <ul class="social-media">
            <li>
              <a
                class="social-media-item"
                href="https://www.twitter.com"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://www.linkedin.com/in/elisalcocer/"
                target="_blank"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://github.com/alcocere"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="mailto:elisa.alcocerm@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="about-article">
        <div class="img_left">
          <img class="img static" src="./assets/images/lili.jpg" /><img
            class="img active"
            src="./assets/images/lili-gif-pk.gif"
          />
        </div>
        <div class="text-about_left">
          <h3 class="names-about">Liliana Mendoza A.</h3>
          <p class="bio">
            Ingeniera Industrial, experta en RRHH en Colombia y España, con
            gran capacidad de adaptación, aprendizaje y organización;
            incursiona en el mundo del front - end, para dar un toque
            divergente y entablar sinergias, a nivel personal, compatibilizar
            su vida familiar.
          </p>
          <ul class="social-media">
            <li>
              <a
                class="social-media-item"
                href="https://www.twitter.com"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://www.linkedin.com/in/liliana-mendoza-alvear"
                target="_blank"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://github.com/lilymenal"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="mailto:liliana.mendoza.alvear@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>

      <article class="about-article">
        <div class="img_right">
          <img class="img static" src="./assets/images/valle-pk.jpg" /><img
            class="img active"
            src="./assets/images/valle-gif-pk.gif"
          />
        </div>
        <div class="text-about_right">
          <h3 class="names-about">Valle Tendero</h3>
          <p class="bio">
            A Valle le gustan los retos. Un día, sintió la necesidad de salir
            de la zona de confort y combinar su experiencia en la gestión de
            proyectos con un mundo sin límites, la web. Lo que más le gusta
            del desarrollo web es la capacidad de poder crear y la evolución
            continua. Formal y risueña como dualidad, con gran instinto
            resolutivo.
          </p>
          <ul class="social-media">
            <li>
              <a
                class="social-media-item"
                href="https://twitter.com/varaiik"
                target="_blank"
              >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://www.linkedin.com/in/valle-tendero/"
                target="_blank"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="https://github.com/vtendero"
                target="_blank"
              >
                <i class="fab fa-github-alt"></i>
              </a>
            </li>
            ·
            <li>
              <a
                class="social-media-item"
                href="mailto:tendero.valle@gmail.com"
                target="_blank"
              >
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>
