<!--FOOTER-->
<footer class="footer">
    <p class="footer__copy">BEcodeTIFUL ©2020</p>

    <nav class="footer__nav">
      <ul class="nav__menu">
        <li>
          <a class="nav__menu--link" href="#team">EQUIPO</a>
        </li>
        <li>
          <a class="nav__menu--link" href="#about">QUIÉNES SOMOS</a>
        </li>
        <li>
          <a class="nav__menu--link" href="./contact.html" target="_blank"
            >CONTACTO</a
          >
        </li>
      </ul>
    </nav>

    <div class="footer__logo">
      <a href="https://adalab.es/" target="_blank">
        <img
          class="logo__adalab"
          src="./assets/images/logo-adalab.png"
          alt="logo adalab home"
        />
      </a>
    </div>
  </footer>
