<header class="header">
  <div class="container">
    <a href="./index.html" title="home">
      <img
        class="header__logo"
        src="./assets/images/Logo BEcodeTIFUL.png"
        alt="BEcodeTIFUL logo"
      />
    </a>
  </div>
  
  <nav class="header__nav">
    <div class="container">
    <ul class="nav__list">
      <li>
        <a class="nav__list--link" href="#team">equipo</a>
      </li>
      <li>
        <a class="nav__list--link" href="#about">quienes somos</a>
      </li>
      <li>
        <a class="nav__list--link" href="./contact.html" target="_blank"
          >contacto</a
        >
      </li>
    </ul>
  </nav>
  </div>
</header>
<section class="header__hero">
  <img class="header__hero--picture" src="./assets/images/4751532.jpg" />
  <div class="container">
    <div class="header__hero--motto"></div>
    <h2 class="header__hero--mottoText">In code we trust</h2>
  </div>
</section>
