<!-- HEADER-->
<header class="header">
    <div class="header-logo container">
      <a href="./index.html" title="home">
        <img
          class="logo BEcodeTIFUL"
          src="./assets/images/Logo BEcodeTIFUL.png"
          alt="BEcodeTIFUL logo"
        />
      </a>
    </div>
    <div>
      <nav class="nav container">
        <ul class="list">
          <li>
            <a class="nav-link" href="#team">equipo</a>
          </li>
          <li>
            <a class="nav-link" href="#about">quienes somos</a>
          </li>
          <li>
            <a class="nav-link" href="./contact.html" target="_blank"
              >contacto</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!--HERO-->
  <section class="hero">
    <img class="hero-picture" src="./assets/images/4751532.jpg" />
    <div class="hero-motto container">
      <h2 class="mottoText">In code we trust</h2>
    </div>
  </section>
