 <section class="team_main">
    <span id="team" class="team_id"></span>
    <div class="team_container">
      <h2 class="team_title">EQUIPO</h2>
      <div class="team_description">
        <p class="team_p">
          Un sabio dijo,
          <b>"puedes programar por distintas rutas".</b> Venidas de diversas
          zonas del planeta y a priori totalmente diferentes, se fueron dando
          cuenta de que algunos de sus caminos confluían. Tomaron esas
          convergencias como oportunidades para empezar a desarrollar un
          sendero binario juntas.
        </p>
        <p class="team_p">
          Con gran adaptación al cambio, orientación al cliente, trotamundos,
          multidisciplinarias; son la nueva era de la programación front -
          end, mujeres comprometidas con su equipo y proyectos, siempre en
          busca de la optimización.
        </p>
      </div>
    </div>

    <aside class="team_skills">
      <div class="team_skills_container">
        <div class="team_both_skills">
          <span class="team_skills_flipped_square"></span>
          <div class="team_skills_s_w">
            <h3 class="team_h3_sw">Fortalezas</h3>
            <p class="team_skills_p_sw">
              Están aprendiendo las reglas del juego y parecen de interfaz
              tímida pero en el fondo son JavaTas. Son responsive, se adaptan
              a todos los entornos y trabajan bien en remoto. En equipo
              funcionan como una y crean código &lt;div&gt;ino.
            </p>
          </div>
          <div class="team_skills_s_w">
            <h3 class="team_h3_sw">Debilidades</h3>
            <p class="team_skills_p_sw">
              El archiconocido síndrome del impostor. Su recién incorporación
              a la programación web les provoca algunas inseguridades y
              temores con los que tienen que lidiar constantemente, pero el
              trabajo diario consolida su resiliencia. Los obstáculos son el
              trampolín que les impulsa.
            </p>
          </div>
        </div>
      </div>
    </aside>
  </section>
