 <section class="team__main">
    <span id="team" class="team__id"></span>
    <div class="team__container">
      <h2 class="team__title">EQUIPO</h2>
      <div class="team__description">
        <p class="team__p">
          Un sabio dijo,
          <b>"puedes programar por distintas rutas".</b> Venidas de diversas
          zonas del planeta y a priori totalmente diferentes, se fueron dando
          cuenta de que algunos de sus caminos confluían. Tomaron esas
          convergencias como oportunidades para empezar a desarrollar un
          sendero binario juntas.
        </p>
        <p class="team__p">
          Con gran adaptación al cambio, orientación al cliente, trotamundos,
          multidisciplinarias; son la nueva era de la programación front -
          end, mujeres comprometidas con su equipo y proyectos, siempre en
          busca de la optimización.
        </p>
      </div>
    </div>

    <aside class="team__skills">
      <div class="team__skills--container">
        <div class="team__bothSkills">
          <span class="team__skills--flippedSquare"></span>
          <div class="team__skills--sw">
            <h3 class="team__h3--sw">Fortalezas</h3>
            <p class="team__skills--pSW">
              Están aprendiendo las reglas del juego y parecen de interfaz
              tímida pero en el fondo son JavaTas. Son responsive, se adaptan
              a todos los entornos y trabajan bien en remoto. En equipo
              funcionan como una y crean código &lt;div&gt;ino.
            </p>
          </div>
          <div class="team__skills--sw">
            <h3 class="team__h3--sw">Debilidades</h3>
            <p class="team__skills--pSW">
              El archiconocido síndrome del impostor. Su recién incorporación
              a la programación web les provoca algunas inseguridades y
              temores con los que tienen que lidiar constantemente, pero el
              trabajo diario consolida su resiliencia. Los obstáculos son el
              trampolín que les impulsa.
            </p>
          </div>
        </div>
      </div>
    </aside>
  </section>
