
    $openSans: "Open Sans", sans-serif;
    $rubikMedium: "Rubik", sans-serif;
    $corporateColor: #099d8d;
    $corporateColor2: #14d9c4;
    $backgroundColor: #ffffff;
    $corporateColorfont: #54585a;