
:root {
    --openSans: "Open Sans", sans-serif;
    --rubikMedium: "Rubik", sans-serif;
    --corporate-color: #099d8d;
    --corporate-color2: #14d9c4;
    --background-color: #ffffff;
    --corporate-colorfont: #54585a;
  }