.header__contact--hero {
    height: 400px;
    background: url(../images/cat.gif) center bottom no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    top: 40%;
  }

  input {
      display: block;
  }