.header__contact--hero {
  height: 400px;
  background: url(../images/cat.gif) center bottom no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  top: 40%;
}

.main__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  margin: 30px 0 15px;
  height: 45px;
  font-family: $rubikMedium;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: $corporateColor;
  text-transform: uppercase;
}

.contact__text {
  margin: 0 0 58px;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: #54585a;
  text-align: center;
}

.contact__notice {
  width: 290px;
  align-items: center;
  margin-bottom: 30px;
}
.contact__small {
  font-size: 12px;
}
.star {
  color: $corporateColor2;
}

input {
  display: block;
  height: 45px;
  padding: 11px 15px 15px;
  margin: 7px 0 13px;
  border: solid 1px $coolGrey;
}
::placeholder {
  color: $coolGrey;
  font-family: $openSans;
}

.emailAddress::placeholder {
  color: $corporateColorfont;
}

.form__container {
  display: flex;
  flex-direction: column;
  width: 290px;
  font-family: $openSans;
  font-size: 14px;
  color: #54585a;
  
}
.inline {
  width: 100%;
}

.comments {
  height: 105px;
  padding: 11px 15px 75px 15px;
  color:$corporateColorfont;
}

.form__button {
  width: 290px;
  height: 45px;
  margin: 30px 0 72px;
  border-radius: 4px;
  background-color: $corporateColor;
  color:$backgroundColor;
}
@media all and (min-width:768px) {
  
  .contact__text {
    margin: 0 0 58px;
  }

  .contact__notice {
    width: 442px;
    padding: 0 15px 0;
  }
  
  input {
    display: block;
    height: 45px;
  }
  
  .form__container {
    width: 442px;
  }
    
  .form__button {
    width: 206px;
    height: 45px;
    margin: 30px 0 60px 0;
    align-self: flex-end;
  }
}
  @media all and (min-width:1200px) {  
    
    .contact__title {
      margin: 45px 0 15px;
    }  
    .contact__text {
      margin: 0 0 58px;
    }

    .emailAddress {
      width: 395px;
    }
    .telephone { 
      width: 162px;
    }

    .contact__notice {
      width: 601px;
      padding: 0 30px 0;
    }
    
    .form__container {
      width: 601px;
    }
      
    .form__button {
      width: 278px;
      margin: 30px 0 120px 0;
    }
    .form__container--inline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
  }