
.footer {
  width: 100%;
  height: 250px;
  padding: 30px 74px 45px;
  border-top: solid 1px #b8b8b9;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: var(--openSans);
  font-size: 14px;
  line-height: 1.43px;
  box-sizing: border-box;
}

.footer__copy {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  color: #b8b8b9;
}

.nav__menu {
  width: 114px;
  height: 50px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-weight: 600;
  line-height: 1.43;
  color: var(--corporate-colorfont);
  list-style-type: none;
  display: inline;
}

.nav__menu--link {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.nav__menu--link:hover {
  color: var(--corporate-color2);
}

@media all and (min-width: 768px){
.logo__adalab {
  width: 115.9px;
  height: 45px;
  margin: 30px 74px 0px;
}

.footer {
  height: 170px;
  display: flex;
  padding: 24px 45px 56px;
  align-content: center;
}

.footer__copy {
  transform: translate(-270px, 15px);
  margin: 0;
}

.footer__logo {
  transform: translate(-170px, -80px);
  margin: 15px 238.1px 45px 0;
}

.logo-adalab {
  margin: 15px;
}

.nav__menu {
  width: 324px;
  height: 90px;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-content: center;
  justify-content: space-evenly;
  transform: translateX(172px);
}
}

@media all and (min-width: 1200px) {
.footer {
  height: 161px;
  padding: 24px 138px 47px;
}

.footer__copy {
  transform: translate(-520px, 15px);
}

.footer__logo {
  transform: translate(-420px, -80px);
}

.nav__menu {
  transform: translateX(420px);
}
}
