.header {
  width: 100%;
  opacity: 0.95;
  position: fixed;
  top: 0;
  background-color: $corporateColor;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 2;
  flex-direction: column;
}

.header__logo {
  width: 160px;
  margin: 10px 0;
  border-radius: 10px;
}

.header__nav {
  width: 100%;
  height: 45px;
  opacity: 0.9;
  background-color: $corporateColor2;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding: 8px 17px 7px 16px;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-around;
  line-height: 2;
}

.nav__list--link {
  text-decoration: none;
  font-family: $rubikMedium;
  font-size: 15px;
  color: $backgroundColor;
  text-transform: uppercase;
}

.nav__list--link:hover {
  color: $backgroundColor;
  background-color: $corporateColor;
  transform: scale(1.03);
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.header__hero {
  width: 100%;
}

.header__hero--picture {
  margin-top: 80px;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.header__hero--mottoText {
  background-color: $backgroundColor;
  transform: translateY(-50%);
  font-family: $openSans;
  border: solid 5px rgba(0, 0, 0, 0.08);
  height: 80px;
  width: 290px;
  padding: 14px 15px 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 15px 0;
}

@media all and (min-width: 768px) {
  .container-header {
    margin: 0 5% 0;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }

  .header__nav {
    background-color: $corporateColor;
  }

  .nav__list {
    justify-content: center;
    float: right;
  }

  .nav__list--link {
    padding: 14px 18px 15px;
  }

  .nav__list--link:hover {
    color: $corporateColorfont;
    background-color: white;
    transform: scale(1.03);
    transition: 0.3s;
    border-radius: 5px;
  }

  .header__hero--picture {
    width: 100%;
    height: 421px;
    object-fit: cover;
    margin-top: 60px;
  }

  .header__hero--mottoText {
    transform: translateY(-105%);
    width: 441px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: left;
  }
}

@media all and (min-width: 1200px) {
  .container-header {
    margin: 0 13% 0;
  }

  .header__hero--picture {
    width: 100%;
    height: 550px;
    object-fit: contain;
    margin-top: 60px;
  }
}

@media all and (min-width: 1700px) {
  .header__hero--mottoText {
    margin: 0 25% 0;
  }
}
