.container {
  // background-color: cyan; 
  margin: 0 15px;
}

@media all and (min-width: 768px) {
  .container {
    margin: 0 45px;
    width: auto;
    background-color: pink;
  }
}
  @media all and (min-width: 1200px) {
    .container {
      margin: 0 138px;
      width: auto;
      background-color: pink;
    }
  }
