/*RESET STYLE*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, a, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Rubik:wght@500&display=swap");

/*VARIABLES*/

:root {
  --openSans: (
    "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap"
  );
  --rubikMedium: (
    "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Rubik:wght@500&display=swap"
  );
  --corporate-color: #099d8d;
  --colorFooter: #ffffff;
  --background-color: #ffffff;
}
/*SKILLS*/
.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 320px;
    height: 700px;
    margin: auto;
    padding: 30px 15px 45px;
    background-color: rgba(184, 184, 185, 0.2); 
  }
  .titulo-sw {
    font-family: var(--rubikMedium);
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    color: var(--corporate-color)
  }
  .p-sw {
    padding: 15px;
    font-family: var(--openSans); 
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
  }
/*FOOTER*/

.footer {
  width: 320px;
  height: 250px;
  margin: auto;
  padding: 30px 74px 45px;
  border: solid 1px #b8b8b9;
  background-color: var(--colorFooter);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  font-family: var(--openSans);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
  justify-content: center;
}
.footer-menu {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-family: var(--openSans);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  list-style-type: none;
  display: inline;
}
.footer-team, .footer-about, .footer-contact {
  padding: 3px;
}
.footer-team:hover,.footer-about:hover, .footer-contact:hover {
  background: var(--corporate-color);
  color: #ffffff;
  transform: scale(1.03);
  transition: 0.3s;
}

.link-team, .link-about, .link-contact{
  text-decoration: none;
  color: inherit;
}

.logo-adalab {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}
.logo-adalab:hover {
  transform: scale(1.5);
  transition: 0.9s;
}