/*VARIABLES*/

:root {
  --openSans: "Open Sans", sans-serif;
  --rubikMedium: "Rubik", sans-serif;
  --corporate-color: #099d8d;
  --corporate-color2: #14d9c4;
  --background-color: #ffffff;
  --corporate-colorfont: #54585a;
}
.container {
  /* background-color: pink; */
  margin: 0 15px;
}

/*HEADER*/

.header {
  width: 100%;
  opacity: 0.95;
  position: fixed;
  top: 0;
  background-color: var(--corporate-color);
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 2;
  flex-direction: column;
}

.logo {
  width: 160px;
  margin: 10px 0;
}

.nav {
  width: 100vw;
  height: 45px;
  opacity: 0.9;
  background-color: var(--corporate-color2);
}

.list {
  display: flex;
  list-style-type: none;
  padding: 8px 17px 7px 16px;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-around;
  line-height: 2;
}

.nav-link {
  text-decoration: none;
  font-family: var(--rubikMedium);
  font-size: 15px;
  color: var(--background-color);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--background-color);
  background-color: var(--corporate-color);
  transform: scale(1.03);
  transition: 0.3s;
  padding: 5px;
  border-radius: 5px;
}

/*HERO*/
.hero {
  width: 100%;
}

.hero-picture {
  margin-top: 80px;
  width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.08);
}

.mottoText {
  background-color: var(--background-color);
  transform: translateY(-50%);
  flex-grow: 1;
  font-family: var(--openSans);
  border: solid 5px rgba(0, 0, 0, 0.08);
  height: 80px;
  width: 290px;
  padding: 14px 15px 16px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

/*TEAM*/

.teamid {
  position: relative;
  top: -120px;
}

.team-title {
  height: 45px;
  text-align: center;
  color: var(--corporate-color2);
  font-family: var(--rubikMedium);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

​ .team_description {
  background-color: var(--background-color);
}

.p-team {
  padding: 0px 15px 30px 15px;
  text-align: center;
  color: var(--corporate-colorfont);
  font-family: var(--openSans);
  font-size: 16px;
  line-height: 1.5;
}
/*SKILLS*/
.skills {
  padding: 0 0 45px;
  background-color: rgba(184, 184, 185, 0.2);
}
.both_s-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flipped-square {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: -15px;
  transform: rotate(45deg);
  background-color: var(--background-color);
}
.s-w {
  width: 290px;
  justify-content: center;
}

.h3-sw {
  font-family: var(--rubikMedium);
  font-size: 22px;
  line-height: 2.05;
  text-align: center;
  color: var(--corporate-color);
  font-weight: 500;
  margin: 30px 0 0;
}

.p-sw {
  font-family: var(--openSans);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--corporate-colorfont);
}

/* ABOUT US */

.about {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0 45px;
}

.h2-about {
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: var(--rubikMedium);
  font-size: 24px;
  text-align: center;
  color: var(--corporate-color);
  font-weight: 500;
  line-height: 1.88;
}

.img {
  width: 180px;
  margin: 0 55px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.static {
  position: absolute;
}
.static:hover {
  opacity: 0;
}
.about-article {
  font-family: var(--openSans);
  text-align: center;
  width: 290px;
}
.names-about {
  height: 45px;
  margin-top: 15px;
  font-size: 20px;
  line-height: 2.25;
  text-align: center;
  color: #000000;
}
.bio {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--corporate-colorfont);
}

.social-media {
  margin: 0 68px 45px;
  color: var(--corporate-color);
  size: 16px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.social-media-item {
  text-decoration: none;
  color: inherit;
}
.fab:hover {
  transform: scale(1.5);
}
.fas:hover {
  transform: scale(1.5);
}
/*FOOTER*/

.footer {
  width: 100%;
  height: 250px;
  padding: 30px 74px 45px;
  border-top: solid 1px #b8b8b9;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: var(--openSans);
  font-size: 14px;
  line-height: 1.43px;
  box-sizing: border-box;
}

.footer-copy {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  color: #b8b8b9;
}

.footer-menu {
  width: 114px;
  height: 50px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-weight: 600;
  line-height: 1.43;
  color: var(--corporate-colorfont);
  list-style-type: none;
  display: inline;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.footer-link:hover {
  color: var(--corporate-color2);
}

.logo-adalab {
  width: 115.9px;
  height: 45px;
  margin: 30px 74px 0px;
}

@media all and (min-width: 768px) {
  .container {
    margin: 0 45px;
    width: auto;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }

  .nav {
    background-color: var(--corporate-color);
  }

  .list {
    justify-content: center;
  }

  .nav-link {
    padding: 14px 18px 15px;
  }

  .nav-link:hover {
    color: var(--corporate-colorfont);
    background-color: white;
    transform: scale(1.03);
    transition: 0.3s;
    border-radius: 5px;
  }

  .hero-picture {
    width: 100%;
    height: 421px;
    object-fit: cover;
    margin-top: 60px;
  }

  .mottoText {
    transform: translateY(-105%);
    width: 441px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    text-align: left;
  }

  /* SKILLS */
  .s-w {
    width: 324px;
  }
  .h3-sw {
    height: 45px;
    line-height: 2.05;
    margin: 45px 0 15px;
  }
  .p-sw {
    margin: 0 0 15px;
  }
  /* ABOUT */
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 60px;
  }
  .h2-about {
    height: 45px;
    width: 193px;
    margin: 0 242.5px 41px 243.5px;
  }
  .about-article {
    width: 680px;
    display: grid;
    margin-bottom: 60px;
  }
  .names-about {
    margin-top: 0;
  }
  .img {
    width: 205px;
    margin: 0px;
  }
  .img_left {
    grid-row: 1;
    grid-column: 1;
    margin: 0 30px 0 0;
  }
  .img_right {
    grid-row: 1;
    grid-column: 2;
    margin: 0 0 0 30px;
  }
  .text-about_left {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .text-about_right {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
  }

  .social-media {
    width: 124px;
    margin: 0;
  }

  /*FOOTER*/
  .footer {
    height: 170px;
    display: flex;
    padding: 24px 45px 56px;
    align-content: center;
  }

  .footer-copy {
    transform: translate(-270px, 15px);
    margin: 0;
  }

  .footer-logo {
    transform: translate(-170px, -80px);
    margin: 15px 238.1px 45px 0;
  }

  .logo-adalab {
    margin: 15px;
  }

  .footer-menu {
    width: 324px;
    height: 90px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-content: center;
    justify-content: space-evenly;
    transform: translateX(172px);
  }
}

@media all and (min-width: 1200px) {
  .container {
    margin: 0 138px;
  }

  .container .nav {
    margin: 0 138px 0 0;
  }

  /* HEADER */
  .hero-picture {
    width: 100%;
    height: 550px;
    object-fit: contain;
    margin-top: 60px;
  }
  /* SKILLS */
  .s-w {
    width: 439px;
  }
  /* ABOUT */
  .img {
    width: 278px;
  }
  .img_left {
    margin: 0 45px 0 0;
  }
  .img_right {
    margin: 0 0 0 45px;
  }

  .h2-about {
    margin: 0 365.5px 41px;
  }

  .about-article {
    width: 924px;
  }

  /*FOOTER*/
  .footer {
    height: 161px;
    padding: 24px 138px 47px;
  }

  .footer-copy {
    transform: translate(-520px, 15px);
  }

  .footer-logo {
    transform: translate(-420px, -80px);
  }

  .footer-menu {
    transform: translateX(420px);
  }
}
