/*RESET STYLE*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, a, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
/*VARIABLES*/

:root {
  --openSans: 'Open Sans', sans-serif;
  --rubikMedium: 'Rubik', sans-serif;
  --corporate-color: #099d8d;
  --colorFooter: #ffffff;
  --background-color: #ffffff;
}

/*HEADER*/
.page {
  margin: 0;
  box-sizing: border-box;
  /*flex-wrap: wrap;*/
}

.header {
  width: 320px;
  height: 60px;
  opacity: 0.95;
  align-content: center;
  position: fixed;
}

.headerName {
  width: 160px;
  padding: 8px 17px 7px 16px;
  opacity: 0.95;
  background-color: #099d8d;
}

.logo-header {
  height: 30px;
  align-items: center;
  display: block;
  opacity: 0.95;
  background-color: #099d8d;
  padding: 15px 80px;
}

.nav {
  width: 320px;
  height: 45px;
  opacity: 0.9;
  justify-items: center;
}

.list {
  width: 320px;
  height: 45px;
  margin: 0;
  opacity: 0.9;
  display: flex;
  list-style-type: none;
  background-color: #14d9c4;
  padding: 8px 17px 7px 16px;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  width: 320px;
}

.link-team {
  width: 56px;
  height: 30px;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: white;
  display: flex;
  box-sizing: border-box;
}

.link-about {
  width: 121px;
  height: 30px;
  margin: 0 15px;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: white;
  display: flex;
}

.link-contact {
  width: 80px;
  height: 30px;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: white;
  display: flex;
}

/*HERO*/
.hero {
  width: 320px;
  height: 421px;
  margin: 0 0 46px;
  padding: 0 0 316px;
  box-sizing: border-box;
  display: block;
}

.hero-picture {
  width: 100vw;
  margin-top: 110px;
}

.hero-motto {
  width: 290px;
  height: 80px;
  padding: 14px 15px 16px;
  position: relative;
  top: -30px;
  /*EL BACKGROUND DEBE SER BLANCO PERO HE PUESTO VERDE PARA VER EL MARGEN*/
  background-color: rgb(4, 190, 159);
}

.mottoText {
  width: 260px;
  font-family: "OpenSans-Semibold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: black;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}

/*SKILLS*/
.skills {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: auto;
  padding: 30px 0px 45px;
  background-color: rgba(184, 184, 185, 0.2);
  }
  
  .s-w {
    width: 320px;
  }

  .h3-sw {
    font-family: var(--rubikMedium);
    font-size: 22px;
    line-height: 45px;
    text-align: center;
    color: var(--corporate-color)
  }
  .p-sw {
    padding: 15px;
    font-family: var(--openSans); 
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #54585a;
  }
/*FOOTER*/

.footer {
  width: 320px;
  height: 250px;
  margin: auto;
  padding: 30px 74px 45px;
  border: solid 1px #b8b8b9;
  background-color: var(--colorFooter);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer-copy {
  width: 172px;
  height: 20px;
  margin: 0;
  font-family: var(--openSans);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
  justify-content: center;
}

.footer-menu {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-family: var(--openSans);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style:normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  list-style-type: none;
  display: inline;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-link-item {
  padding: 3px;
}

.footer-link-item:hover {
  background: var(--corporate-color);
  color: #ffffff;
  transform: scale(1.03);
  transition: 0.3s;
}

.logo-adalab {
  width: 115.9px;
  height: 45px;
  margin: auto;
}

.logo-adalab:hover {
  transform: scale(1.2);
  transition: 0.9s;
}